html {
  text-align: center;
  font-family: "Helvetica", sans-serif;
}

header {
  background-image: url(../img/the-flatiron-building.png);
  color: white;
}

h1  {
  font-size: 70px;
  font-weight: bold;
}

ul {
  padding-left: 0;
}

li,
a {
  list-style: none;
  color: white;
  font-size: 18px;
  padding: 5px 0 5px 0;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.design {
  color: white;
  background: url(../img/the-flatiron-building.png) bottom left ;
}

footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
